@import "mixins.scss";

$cell-color: #ddd;
@mixin cell($size) {
    position: relative;
    display: grid;
    align-items: center;

    $font-size: $size / 2;
    width: $size;
    height: $size;
    font-size: $font-size;

    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: $cell-color;

    .possibles {
        position: absolute;
        padding: $size / 20;
        align-items: center;
        align-self: flex-start;
        width: calc(100% - #{$size / 10});
        height: calc(100% - #{$size / 10});
        pointer-events: none;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;

        & > span {
            position: relative;
            //font-style: italic;
            font-weight: bold;

            &.crossed {
                color: red;
            }

            font-size: $size / 6;
        }
    }
}

section#sudoku {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
    grid-template:
        "sudoku ."
        "sudoku focused"
        "sudoku hints"
        "sudoku ."
        / auto 300px;

    .hints {
        grid-area: hints;
        margin: 0 auto;
    }

    .focused {
        grid-area: focused;
        position: relative;
        margin: 0 auto;

        .cell {
            @include cell(100px);
            .value {
                font-family: "Indie Flower", cursive, sans-serif;
                border: none;
                outline: none;
                text-align: center;
                font-size: 50px;
                margin: 0 auto;
                width: 100%;
                background: none;
            }
        }

        .possibles-buttons {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, auto);
            gap: 5px;

            overflow: hidden;
            border-radius: 5px;
            width: fit-content;
            margin: 10px auto;

            button {
                width: fit-content;
                padding: 5px 8px;
                border: none;
                outline: none;
                transition: background 0.1 linear;
                background: $cell-color;
                cursor: pointer;

                &:hover {
                    background: lighten($cell-color, 5%);
                }

                &.selected {
                    background: rgb(132, 179, 233);
                }

                &:disabled {
                   cursor: default;
                }
            }
        }
    }

    .sudoku {
        grid-area: sudoku;

        position: relative;
        display: grid;
        grid-template-columns: repeat(9, auto);
        width: fit-content;
        height: fit-content;

        gap: 5px;

        &::after,
        &::before {
            @include pseudo();
            pointer-events: none;
        }

        $border: rgb(211, 211, 211);

        &::before {
            border-left: 2px solid $border;
            border-right: 2px solid $border;
            width: 33.6%;
        }

        &::after {
            border-top: 2px solid $border;
            border-bottom: 2px solid $border;
            height: 33.6%;
        }

        .cell {
            @include cell(8vh);
            cursor: pointer;
            user-select: none;

            transition: background 0.1s linear;
            $highlight: rgb(71, 157, 255);

            &:hover {
                background: lighten($cell-color, 5%);
            }

            &.filled {
                background:  lighten($highlight, 25%);

                &:hover {
                    background: lighten($highlight, 30%);
                }
            }

            &.blocked {
                background-image: repeating-linear-gradient(-45deg, #0001, #0001 19%, transparent 20%, transparent 39%) !important;
            }

            &.selected {
                background: rgb(170, 183, 236);
            }

            &.highlighted {
                box-shadow: 0 0 0 2px rgb(71, 157, 255);
            }

            &.hint {
                color: rgb(72, 168, 28);
            }

            &:nth-of-type(3n):not(:nth-of-type(9n)) {
                margin-right: 10px;
            }

            &:nth-of-type(27n):not(:nth-of-type(81n)) {
                margin-bottom: 10px;
            }
        }
    }
}
